.gallery{
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    .gallery_container{
        max-width: 936px;
        display: flex;
        flex-wrap: wrap;
        .gallery_container_item{
            width: 31%;
            margin: 10px;
            overflow: hidden;
            position: relative;
        }
    }
    img{
        width: 100%;
        border-radius: 10px;
    }
}